@import url('./colors.css');

main {
    margin-top: 12rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 2px solid var(--violeta);
}

main > h1 {
    display: none;
}

main form {
    width: 100%;
}

main table {
    width: 100%;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
}

.books {
    margin: 1rem;
}

.td-figure figure {
    width: 6rem;
}

.books table tr > :nth-child(2n + 3) {
    display: none;
}

.books table tr td {
    vertical-align: middle;
    text-align: center;
}

.books table tr td > * {
    margin: auto;
}

.button-submit {
    margin-top: 1rem;
    display: block;
}
