/* common.css
 * Paleta:
    + violeta (base): #5C058C
    + violeta-claro-1: #7406B0
    + violeta-claro-2: #8C08D5
    + violeta-claro-3: #A409F9
    + violeta-oscuro-1: #14011F
    + violeta-oscuro-2: #2C0243
    + violeta-oscuro-3: #440468
*/

.book_placeholder { /* Borrar mas adelante */
    border: 1px solid black;
    background-color: aqua;
    width: 150px;
    height: 250px;
}

#sale_placeholder { /* Borrar mas adelante */
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

#sale_placeholder p { /* Borrar mas adelante */
    font-size: 2em;
    font-weight: bold;
}

#slider_books_list {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    background-color: #5C058C;
    padding-bottom: 1%;
}

.slider_books_list_book_link {
    text-align: center;
    font-weight: bold;
}

.slider_books_list_book_price {
    color: white;
}

#slider_books_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

main {
    background-color: #9661B2;
}

.nav_icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5%;
}

.nav_icons_item {
    background-color: #B47CC4;
    /* border-style: solid; */
    /* border-color: black; */
    height: 100px;
    margin-left: 3px;
    margin-right: 1px;
}

.nav_icons_item img {
    /* background-color: brown; */
    object-fit: contain;
    height: auto;
    /* border-color: red; */
    /* border-style: solid; */
    height: 99%;
}

#nav_icons_item_search_bar {
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    /* justify-content: center; */
    /* height: 30%;*/
}

#nav_icons_item_search_bar_search {
    width: 80%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    height: 50%;
    font-size: 2em;
}

#nav_icons_item_search_bar_submit {
    height: 50%;
    /* width: 16%; */ 
    font-size: 2em;
}

.nav_section {
    background-color: #D8CBFF;
    border-top: 2px solid #A409F9;;
    border-bottom: 2px solid #A409F9;
}

.nav_section_links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav_section_links_element {
    /*background-color: yellow;*/
    /*border: 1px solid black;*/
    margin-right: 1.5%;
}

.nav_section_links_element a {
    color: #14011F;
    font-size: 3em;
}

.nav_section_links_element a:hover {
    color: #440468;
    /* background-color: #8C08D5; */
}

.nav_section_links_element a:visited {
    color: #14011F;
}