@import url('./colors.css');

.title-contact {
    margin-bottom: 1.2rem;
}

.form-contact {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    width: 80%;
}

.form-contact input, label {
    margin-top: 10px;
    font-size: 18px;
}

.form-contact input, textarea {
    border: 1px solid black;
}

.form-contact input[type=text] {
    border-bottom: 1px solid white;
    border-radius: 4px;
}

.form-contact label {
    font-weight: bold;
}

main {
    margin-top: 12rem;
}

main > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

/* Estilos para pantallas de al menos 768px (típico para escritorio o tablet horizontal) */
@media (min-width: 768px) {
    main > h1 {
        margin-bottom: 1.5%;
    }
    #asunto {
        width: 80%;
        font-size: 1em;
        margin-top: 1%;
    }
    .form-contact {
        width: 60%;
    }
    .form-contact label {
        font-size: 1.5em;
    }
    .form-contact input {
        width: 100%;
        padding: 14px 20px;
        margin: 8px 0;
        border-radius: 4px;
        cursor: pointer;
    }
/*
    .form-contact textarea {
        width: 100%;
        min-height: 80px;
    }
*/
    .form-contact input[type=submit]{
        margin-left: 25%;
        width: 40%;
    }
}