@import url('./colors.css');

.section-book > article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.section-book > article > * {
    width: 80%;
}

.section-book > article > figure img {
    width: 100%;
}

.section-book > article p,
.section-book > article > h3 {
    font-size: 20px;
    margin-top: 10px;
}

.section-book > article > h3 {
    font-weight: bold;
}

.section-book > article > form {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.section-book > article > form label {
    display: none;
}

.section-description {
    margin-top: 30px;
    border-top: 3px solid var(--violeta);
    padding: 30px;
}

.description-title {
    font-size: 30px;
    text-align: center;
}

.description {
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
}

.book-info > * {
    margin: 1rem;
}

.book-info label {
    display: none;
}

.book-info > form {
    display: flex;
    gap: 1rem;
}

.book-info > h3 {
    font-weight: bold;
}

.header-app {
    z-index: 10;
}

@media(min-width: 700px) {
    .section-book > article {
        display: flex;
        flex-flow: row;
        margin: 0 1rem;
        gap: 2rem;
        justify-content: center;
    }

    .book-info {
        max-width: 30rem;
    }

    .section-book > article > figure {
        max-width: 30rem;
    }
}