@import url('./colors.css');

main {
    margin-top: 90px;
}

.title-cobro {
    display: none;
}

.contact-send {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.contact-send > h2 {
    width: 80%;
    max-width: 30rem;
}

.contact-send > section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 30rem;
}

.mail-icon, .location-icon {
    height: 2rem;
    margin: 10px;
}

.mail-box {
    display: flex;
}

.mail-box p {
    display: inline;
    align-self: center;
}

.location-box {
    display: flex;
}

.location-box section {
    display: inline;
}

.location-box * {
    align-self: center;
}

.location-box a {
    margin-left: auto;
    margin-right: 0;
}

.contact-send h2 {
    padding-left: 10px;
    font-size: 1.5rem;
}

.tarjeta-wrapper {
    margin: 0;
    display: flex;
    gap: 1rem;
    width: 80vw;
    max-width: 30rem;
}

.tarjeta-wrapper input {
    flex: 1;
    min-width: 0;
}

#vencimiento {
    flex: 2;
}

label {
    display: none;
}

.input-text {
    margin-top: 15px;
    width: 80vw;
}

.button-submit {
    margin: 20px;
}
