
@media (min-width: 700px) {

    .menu-button {
        display: none;
    }

    .header-app .nav-icons {
        align-items: center;
    }

    .header-app search {
        flex-basis: auto;
        width: 23rem;
        order: 0;
        margin-left: 2rem;
    }

    .header-app form .submit-search {
        position: absolute;
        left: 30rem;
        right: auto;
    }

    .header-app .account, .shopping-cart {
        position: fixed !important;
    }

    .header-app .account {
        right: 6rem !important;
    }

    .header-app .shopping-cart {
        right: 1.5rem !important;
    }

    .nav-links {
        position: relative !important;
        padding: 20px;
        border-top: 3px solid var(--violeta-claro-3);
        width: 100%;
        right: none;
        top: none;
        left: none;
        bottom: none;
    }

    .header-app .nav-links > ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
    }

    .header-app .nav-links ul li {
        border-bottom: none;
        width: auto;
        margin: 0px;
        padding: 0px;
        margin-left: 1rem;
    }

    .header-app .nav-links ul li a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0px;
    }
}