@import url('./reset.css');
@import url('./colors.css');

@font-face {
    font-family: 'openSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

img {
    width: 100%;
    height: auto;
}

img:hover + .figcaption_center {
    display: block; /* Cuando hagan hover a la imagen, el caption se renderiza */
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--violeta-oscuro-2);
}

html {
    font-family: "openSans";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    appearance:textfield;
}

/* clears the ‘X’ from Internet Explorer /
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/ clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

main {
    margin-top: 200px;
}

.book {
    position: relative;
}

.book img:hover {
    opacity: 0.3;
}

.figcaption_center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 2px;
    display:none; /* Esconder x defecto */
}

.header-app {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 3px solid var(--violeta-claro-3);
    background-color: white;
}

.header-app form .input-search {
    width: 100%;
    border: 3px solid black;
    padding: 9px;
    border-radius: 7px;
    margin-top: -0.2rem;
    font-size: 1rem;
}

.header-app form .submit-search {
    position: absolute;
    right: 10px;
    width: 45px;
    background: none;
    border: none;
}

.header-app form .submit-search img {
    width: 100%;
}

.header-app .nav-links {
    position: fixed;
    background: white;
    right: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    transition: 300ms;
}

.header-app .nav-links > ul {
    margin-top: 100px;
}

.header-app .nav-links ul li {
    margin-top: 30px;
    padding: 20px;
    border-bottom: 4px solid black;
    width: 100%;
}

.header-app .nav-links ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.header-app .nav-icons {    
    display: flex;
    padding: 5px;
    flex-wrap: wrap; 
}

.header-app search {
    display: block;
    flex-basis: 100%;
    order: 3;
    margin-top: 20px;
}

.nav-icons > a {
    display: block;
    margin: 10px;
}

.account img{
    width: 2.2rem; /* ideal para no wrapee abajo en celu y conserva el desktop visibilidad */
}

.shopping-cart img{
    width: 2.2rem;
}

.nav-icons .menu-button {
    order: -1;
    width: 60px;
    background: none;
    border: none;
    padding: 0px;
    z-index: 2;
    transition: 300ms;
}

.nav-icons .menu-button img {
    width: 100%;
}

.nav-icons .logo {
    width: 7rem;
}

.sell-section {
    background-color: var(--violeta-claro-4);
}

.sell-section article {
    background-color: white;
}
