:root {
    --violeta: #5C058C;
    --violeta-claro-1: #7406B0;
    --violeta-claro-2: #8C08D5;
    --violeta-claro-3: #A409F9;
    --violeta-claro-4: #D8CBDF;
    --violeta-oscuro-1: #14011F;
    --violeta-oscuro-2: #2C0243;
    --violeta-oscuro-3: #440468;
}