@import url('./colors.css');

.footer-app {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-top: 2px solid var(--violeta);
}

.footer-app > section {
    margin: 20px;
    /*width: 50%; /* Funciona <=> hay 2 secciones en el footer */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.footer-app h1 {
    font-size: 1em;
    font-weight: bold;
}

.footer-app img {
    width: 100%;
}

.footer-app .social-net li  {
    width: 40px;
    margin-top: 1rem;
}

.footer-app .contact h1 {
    margin-bottom: 20px;
}

.footer-app .contact li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact a {
    color: var(--violeta-oscuro-3);
}
